<ion-view>
    <ion-nav-title>Olá, faça o seu login</ion-nav-title>

    <ion-content>

        <form>
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">E-mail</span>
                    <input type="text" placeholder="E-mail">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="Senha">
                </label>
            </div>

            <div class="row responsive-sm">
                <button class="button button-block button-positive">
                    Entrar
                </button>
            </div>
        </form>

    </ion-content>
</ion-view>